<app-members>
  <h2>
      <h1><b>Inovarea în echipe - Beneficii</b></h1>
      <p>Some description about this chapter</p>
      <div class="row justify-content-around">
        <div class="col-sm">
          <mat-card class="card">
            <mat-card-title>DESCRIERE</mat-card-title>
            <mat-card-content>

            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm">
          <mat-card class="card">
            <mat-card-title>VIZIUNE</mat-card-title>
            <mat-card-content>

            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-sm">
          <mat-card class="card">
            <mat-card-title>PARC AUTO</mat-card-title>
            <mat-card-content>

            </mat-card-content>
          </mat-card>
        </div>
      </div>



      <iframe width="560" height="315" src='https://www.youtube.com/embed/czIVyptMvFc' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </h2>
</app-members>
