<app-members>
  <div class="container">
    <a routerLink="/inovare" id="goback">Go back</a>
    <h1>INOVAREA ÎN ECHIPE</h1>
    <div >
    <div class="info">
      <h2>Ce este Inovația în Echipă?</h2>
      <p>Inovația în echipă este în general înțeleasă ca incluzând atât dezvoltarea, cât și implementarea noutăților. În acest sens, înțelegerea continuă a inovației în echipă o aduce mai aproape de înțelegerea creativității la locul de muncă ca generare de idei, procese, produse sau proceduri <b>noi și utile.</b>
      </p>
      <p>Unii cercetători în inovare înțeleg îndeaproape creativitatea ca generare de idei și subliniază că inovația include și  implementarea ca element critic, astfel distingându-se de creativitate. </p>
      <p><b>Inovația este, în ultimă instanță, a face lucruri noi, nu doar a gândi lucruri noi.</b></p>
      <h2>De ce vorbim despre echipe și nu indivizi?</h2>
      <p>Unul dintre principalele motive pentru care ne axăm pe inovare la nivel de echipă este potențialul echipelor de a reuni membri cu cunoștințe, expertiză și perspective diferite. Propunerea de bază aici este simplă: <b>echipele sunt mai inovatoare cu atât mai mult cu cât reunesc membri cu medii diverse și se angajează într-un proces de integrare a informațiilor echipei.</b>
      </p>
    </div>
    <div class="img">
        <img src="../../../assets/images/inovare.png">
    </div>
    </div>
  </div>
</app-members>
