<app-members>
  <div class="container">
    <a routerLink="/inovare" id="goback">Go back</a>
    <h1>LIDER îN ECHIPĂ</h1>
    <div >
    <div class="info">
      <h2>Leadership-ul transformațional și inovația în echipă:</h2>
      <p>Liderii transformaționali încurajează angajații și echipele să gândească în afara cutiei.
      </p>
      <p>Leadershipul transformațional a fost legat de inovație atunci când sarcina echipei a fost de a dezvolta o inovație radicală, mai degrabă decât una inovativă. Structura de asociere, schimbul de lider-membru (LMX) și sprijinul supraveghetorilor au fost pozitiv legate de inovație.</p>
      <h2>Provocările acestui tip de conducere…</h2>
      <p>Unii cercetători au sugerat că leadershipul transformațional poate împiedica creativitatea și inovația, în loc să o încurajeze, deoarece viziunea (și carisma) puternică a liderului ar putea crește dependența adepților și îi va împiedica să-și urmeze propriile idei.
      </p>
      <h2>Conducere ambidextră. La ce ne gândim?</h2>
      <p>Ideea de conducere ambidextră se bazează pe distincția dintre generarea de idei și implementarea ideilor. Liderii trebuie să poată promova ambele procese pentru a sprijini inovația.
      </p>
      <h2></h2>
    </div>
    <div class="img">
        <img  style="height: 600px;" src="../../../assets/images/lider.jpg">
    </div>
    </div>
    <div>
      <h2>
        Leadership transformațional VS leadership tranzacțional
       </h2>
       <p>S-a constatat că leadershipul transformațional se corelează mult mai puternic pentru faza de opening-up, în timp ce leadershipul tranzacțional s-a dovedit, în general, mai eficient pentru faza ulterioară a implementării ideii.</p>
       <p>În practică:  în etapa de generare a ideilor, comportamentele de conducere transformative și participative stimulează inovaţia echipei. Mai târziu, conform teoriei ambidexterității, comportamentele de conducere directive și tranzacționale sunt mai eficiente pe măsură ce înaintează inovațiile către implementare.
      </p>
      <h2 style="color: white;">sfarsit</h2>
      </div>
  </div>
</app-members>

