#goback {
  font-weight:bold;
  text-transform:uppercase;
  font-size:.8em;
  font-size:1.3em;
  color:#3B8598;
  float: right;
}

.container{
  margin: 3%;
  margin-left: 6%;
}

h1{
  font-weight: bold;
  font-size: 3em;
}

h2{
  margin-top: 3%;
  font-size: 2em;
  color: #3B8598 ;
}

p,.list{
  font-size: 1.3em;
}


.info{
  width: 50%;
  display:inline-block;
  float:left;
}

.img{
  width: 50%;
  display:inline-block;
  float:left;
  margin-bottom: 2%;
}
