<app-members>
  <div class="container">
    <a routerLink="/inovare" id="goback">Go back</a>
    <h1>CLIMATUL ÎN EHIPĂ</h1>
    <div>
    <div class="info">
      <p>Climatul echipei este împărtășit de către membrii echipei prin diferite moduri: modul în care este percepută atmosfera, modul în care sunt create practici, proceduri și recompense.</p>
      <p><b>La nivel organizațional</b>, astfel de practici ar include o varietate de practici formale, cum ar fi: practicile de resurse umane, sisteme de stimulente și altele asemenea, dar <b>la nivel de echipă</b>, climatul captează tiparele de comportament ale membrilor și liderilor.</p>
      <p><b>Inovația în echipă</b> apare atunci când membrii împart angajamentul pentru obiectivele echipei și pentru performanță.
      </p>
      <p>
        <b>Există patru factori principali ai climatului echipei (elaborați de West):</b>
      </p>
      <div class="list">
        <ul>
          <li>viziune</li>
          <li>siguranță participativă</li>
          <li>sprijin pentru inovație</li>
          <li>climat pentru excelență</li>
        </ul>
      </div>
    </div>
    <div class="img">
        <img src="../../../assets/images/climat.jpg">
    </div>
    </div>
    <div class="info2">
      <p><b>Sprijinul pentru inovație, viziunea și orientarea sarcinilor</b> au fost puternic și consecvent legate de inovație.
      </p>
      <h2>La ce să ne gândim când vorbim despre sprijinul pentru inovație?</h2>
      <p>Sprijinul pentru inovație descrie un mediu de echipă în care nu se așteaptă ca membrii echipei să fie inovativi, ci și în care există și sprijin moral și practic pentru astfel de eforturi. Acest lucru ajută motivația angajaților să își asume riscul de a sugera și implementa idei inovatoare.</p>
      <h2> Ce beneficii aduce viziunea?</h2>
      <p>Viziunea facilitează inovarea echipei, deoarece un astfel de set de obiective comune ale echipei facilitează motivația și canalizează eforturile membrilor echipei.</p>
      <h2>Un studiu concret privind climatul de echipă...
      </h2>
      <p>Folosind teoria celor patru factori a lui West, Hülsheger și colab. au raportat corelații medii cu inovația echipei pentru viziunea echipei, siguranța participativă, suport pentru inovație și, respectiv, orientarea către sarcini</p>
      <p><b>Ce înseamnă asta?</b></p>
      <p>Aceste descoperiri subliniază importanța climatului echipei și a proceselor de grup pentru inovarea eficientă în cadrul grupurilor și echipelor de lucru. De asemenea, conflictele din cadrul unei echipe au un impact redus asupra inovației. .
      </p>
      <h2 style="color: white;">sfarsit</h2>
    </div>
  </div>
</app-members>

