
mdb-accordion-item-head.active a h5 {
  color: red !important;
  background-color: yellow !important;
}


mdb-accordion-item-body a.active {
  color: red !important;
  background-color: yellow !important;
}
.flexExpand {
  flex: 1 1 auto;
}

.toolbar-color-temp {
  background: #3B8598;
  color:  white;
}
